<div class='container'>
    <mat-toolbar>
        PROMJENA REZERVACIJE
    </mat-toolbar>
    <br>
    <div *ngIf="conditionLoad; else elseBlock">
    <form [formGroup]="form" class="normal-form">
        <input type="hidden" formControlName="$key">
        <mat-form-field class="form-field">
            <input formControlName="title" matInput placeholder="Naziv događaja">
        </mat-form-field>
        <mat-form-field class="form-field">
            <input formControlName="person" matInput placeholder="Osoba koja rezervira">
            <mat-error>Obavezno polje.</mat-error>
        </mat-form-field>
        <mat-form-field class="form-field">
            <input matInput [matDatepicker]="picker1" placeholder="Datum početka" formControlName="startDate">
            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
            <mat-datepicker #picker1></mat-datepicker>
            <mat-error>Obavezno polje. Kliknite na ikonu kako biste odabrali datum.</mat-error>
        </mat-form-field>
        <mat-form-field class="form-field">
            <input formControlName="startTime" matInput placeholder = "Vrijeme početka" >
            <mat-error *ngIf="form.controls['startTime'].errors?.pattern">Vrijeme treba biti upisano u formatu 'HH:MM'.</mat-error>
        </mat-form-field>
        <mat-form-field class="form-field">
            <input formControlName="endDate" matInput [matDatepicker]="picker2" placeholder="Datum završetka">
            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
            <mat-datepicker #picker2></mat-datepicker>
            <mat-error>Obavezno polje. Kliknite na ikonu kako biste odabrali datum.</mat-error>
        </mat-form-field>
        <mat-form-field class="form-field">
            <input formControlName="endTime" matInput placeholder = "Vrijeme završetka" >
            <mat-error *ngIf="form.controls['endTime'].errors?.pattern">Vrijeme treba biti upisano u formatu 'HH:MM'.</mat-error>
        </mat-form-field>
        <div *ngIf="condition; else elseBlock">Ovo je rezervacija za cijeli semestar.</div>
        <ng-template #elseBlock>Ovo nije rezervacija za cijeli semestar.</ng-template> <br><br>
        <div class="button-row">
            <button type="button" mat-raised-button color="primary" [disabled]="form.invalid" (click)="onSave()">Spremi</button>
            <button type="button" mat-raised-button color="warn" (click)="onClear()">Ispočetka</button>
            <button type="button" class="deleteButton" mat-raised-button color="accent" (click)="onDelete()"><mat-icon>delete</mat-icon></button>
        </div>
    </form>
    </div>
    <ng-template #elseBlock>
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </ng-template>
</div>
