.text-center {
    text-align: center;
}

.buttons {
    max-width: 400px;
    margin: 0 auto;
}

.button {
    margin-left: 5px ;
    margin-bottom: 5px;
    max-height:70px;
    max-width:80px;
    text-align: center;
}