/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: 'Roboto', sans-serif; }
.app {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    height: 100%;
  }
.main {
    flex: 1;
    padding: 0 16px;
}
mat-card {
    margin: 1.5em auto;
}
mat-toolbar-row {
    justify-content: space-between;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
